html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  color: rgb(0, 200, 255);
}

a:hover {
  color: rgb(47, 255, 200);
}

.form-control {
  width: 250px;
}

.btn {
  width: 250px;
}