html {
  font-size: 14px;
  text-align: center;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: white;
  color: rgb(255, 255, 255);
  background-image: url(../img/RecipeBook.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  color: rgb(234, 255, 236);
}

.container {
  width: 550px;
  max-width: 100%;
  margin: auto;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.477);
  border-radius: 25px;
}

table {
  width: 100%;
}

.form-control {
  margin: auto;
  width: 250px;
}

.btn {
  width: 250px;
  margin-top: 2px;
}

.btn-primary {
  width: 80px;
}

/* .btn-danger {
  width: 100px;
} */

footer {
  margin: auto;
  margin-top: 150px;
}

.nav-item {
  margin: auto;
  margin-left: 25px;
}
