@model Microsoft.AspNetCore.Identity.IdentityRole  
@{  
    ViewData["Title"] = "Create";  
}  
  
<h1>Create</h1>  
<form method="post">  
    <input type="text" asp-for="Name" />  
    <input type="submit" name="submit" value="submit" />  
</form>  