@{
  Layout = "_Layout";
}

@model RecipeBook.Models.Category

<h4>Add a new category</h4>
@using (Html.BeginForm())
{
  @Html.TextBoxFor(model => model.Name, new { placeholder = "Category Name", @class = "form-control" })
  <input class="btn btn-dark type="submit" value="Add Category" />
}
<br />
<p>@Html.ActionLink("Show all categories", "Index")</p>